
.nav .ul{
    display: none;
}
.nav:hover .ul{
    transition: 0.2s;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}
.nav .Down {
    transition: 0.3s;
}
.nav:hover .Down {
    transform: rotate(180deg);
}
.Nav2 .ul {
    display: none;
}
.Nav2:hover .ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
}
.Nav2 .Down2 {
    transition: 0.3s;
}
.Nav2:hover .Down2{
    transform: rotate(180deg);
}

/*Start Prev && Net slider Slick */

.slick-next{
    background-color: red;
    justify-content: center;
}
/*End Prev && Net slider Slick */
/* slick-arrow slick-next */
.mainscroll{
    /* -webkit-appearance: none */
}